html {
  height: 100%;
}
body {
  height: 100%;
}
.navbar-brand {
  font-family: 'Alegreya Sans SC', "Helvetica Neue", Arial, Tahoma, Verdana, sans-serif;
}
.tall {
  height: 100%;
}
.content-container div:nth-of-type(even) {
  background: #FAFAFA;
}
.content-box {
  padding: 1em;
  border-top: 1px solid #DFDFDF;
}
.content-box div {
  margin: 0px;
}
.content-box h1,
.content-box h2,
.content-box h3 {
  font-size: 3.25em;
}
.content-box p {
  font-size: 1.5em;
  margin: 0 0 15px;
}
@media (min-width: 768px) {
  .content-box {
    padding: 7em;
  }
}
@media (max-width: 768px) {
  .content-box > h2,
  h3 {
    font-size: 2em;
  }
  .content-box > p {
    font-size: 1.2em;
  }
}
.navbar-default {
  background-color: #FFF;
  border-color: rgba(231, 231, 231, 0.05);
}
.iron-jumbo {
  text-align: center;
  margin-top: 20%;
}
.iron-jumbo h1 {
  font-size: 7em;
  font-family: 'Alegreya Sans SC', "Helvetica Neue", Arial, Tahoma, Verdana, sans-serif;
  font-weight: 400;
}
.iron-jumbo p {
  font-size: 1.5em;
  /*font-family: 'Alegreya Sans', "Helvetica Neue", Arial, Tahoma, Verdana, sans-serif;*/
}
.core-list {
  list-style-image: url("../favicon.ico");
}
.core-list li {
  font-size: 1.5em;
}
.footer {
  padding: 4em 6em;
  font-size: 1.2em;
}
.footer-right {
  text-align: right;
}
.footer-xs {
  border-top: 1px solid #DFDFDF;
  padding: 50px 0px;
  text-align: center;
  background: #FAFAFA;
}
