*DS_Store

node_modules
.tmp
.sass-cache
app/bower_components
test/bower_components
npm-debug.log
app
test

github_pages/highlight/*
!github_pages/highlight/highlight.pack.js
!github_pages/highlight/styles/solarized_light.css